nav {
  display: flex;
  justify-content: space-between;
  margin: 2.5em 2em;
}
.navbar__h1 {
  font-size: 1.8em;
}
#navbar__ul {
  list-style: none;
  margin: auto 0;
}
.navbar__li {
  display: inline-block;
  margin: 0 1.5em;
}
.navbar__li a {
  text-decoration: none;
  font-size: 1.1em;
  color: #000;
}
